<div class="w-full flex flex-wrap items-center justify-between p-4 bg-gray-800 text-white">
    <div class="text-white text-2xl font-bold w-full md:w-1/3">
        <a routerLink="/">Weather Forecast App</a>
    </div>
    <div class="flex flex-wrap justify-start space-x-4 w-full md:w-1/3">
        <!-- <a routerLink="/" class="font-bold">Ana Sayfa</a>
        <a routerLink="/about">Hakkımızda</a> -->
    </div>
    <div class="flex justify-end w-full md:w-1/3">
        <!-- <p-button icon="pi pi-user"  severity="help" size="small" text>
        </p-button> -->
    </div>
</div>