<div class="flex justify-center items-center h-screen flex-col">

  <div class="bg-sky-600 flex flex-col justify-center items-center px-8 py-5 shadow-lg text-white">

    <div class="w-full" >
      <p-select fluid [options]="cities" [(ngModel)]="selectedCity" (onChange)="changeSelect($event)" optionLabel="name" placeholder="Şehir Seçiniz" 
      >

      </p-select>
    </div>
    <div *ngIf="selectedCity?.code" class="text-center mt-5">
      <h2 class="text-2xl font-semibold mb-4">Şuanki Hava Durumu</h2>
      <p class="text-xl mb-2">Derece: {{currentTimeForecastTemperature()}}°C</p>
      <p class="text-xl mb-2">Saat: {{currentTime()}}:00</p>
      <p class="text-xl mb-2">Hava Durumur: {{weatherDescription[currentWeatherStatus()]}}</p>
    </div>
    
  </div>
</div>
